.login-container{
  height: 100vh !important;
}

.login-form-wrapper{
  width:900px;
  height: 581px;
  margin: 10px;
  border-radius: 20px !important;
  background-image: url('../assets/login.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  -webkit-box-shadow: -4px 4px 40px 11px rgba(0,0,0,0.22) !important;
  -moz-box-shadow: -4px 4px 40px 11px rgba(0,0,0,0.22) !important;
  box-shadow: -4px 4px 40px 11px rgba(0,0,0,0.22) !important;
}

.login-form-container{
  padding-top: 20px;
}

.inputRounded .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-radius: 50px;
}